/* CREATED BY Mark Maldonado */ 

form {
	box-shadow: 0px 0px 30px 5px #e6e6e6;
	margin: 15px auto;
	border-radius: 5px;
	max-width: 500px;
	background-color: white;
}

form fieldset {
	border: none;
}

form fieldset legend {
	font-size: 1.35rem;
	font-weight: medium;
	margin-bottom: 5px;
	padding-top: 17px;
}

/* label + input Block */
form fieldset div {
	padding: 10px 0 0 0;
}

form fieldset label {
	min-width: 10rem;
	display: inline-block;
	font-weight: medium;
}

/* Suche in Hauptseite */
#suchfunktion {
	width: 20rem;
	margin: auto;
}

#suchfunktion form fieldset {
	padding-bottom: 20px;
}

#suchfunktion form fieldset label {
	min-width: 0;
}

form fieldset input {
	width: 10rem;
	padding: 0 7px;
	border: 0;
	border-bottom: 2px solid black;
	height: 1.7rem;
	font-weight: regular;
}

/* Fehlermeldung */
noscript {
	color: red;
}

.fehlerinput {
	border-color: red;
}	

#fehlermeldung {
	color: red;
}

/* input bild */
.bild {
	display: inline-block;
	width: 300px;
	border: none;
}

/* Dropdown */
form fieldset select {
	appearance: none;
	padding: 0 7px;
	border: 0;
	border-bottom: 2px solid black;
	height: 1.7rem;
	font-weight: regular;
	width: 10rem;
}

/* Buttons */
.buttons {
	margin-top: 20px;
}

.green {
	background-color: #40dc62;
	border-color: #40dc62;
}

.green:hover {
	color: #40dc62;
}

.yellow {
	background-color: #ffe100;
	border-color: #ffe100;
}

.yellow:hover {
	color: #ffe100;
}