#kategorien {
	margin: auto;
	width: 90%;
	background-color: #f7f7f7;
	border-radius: 5px;
	padding: 5px;
	display: flex;
	justify-content: center;
}

#kategorien ul {
	list-style-type: none;
	margin: 0;
	height: 40px;
}

#kategorien ul li {
	position: relative;
	float: left;
	overflow: visible;
	margin: 10px;
}

#kategorien ul li img {
	position: absolute;
	top: -3px;
	left: 5px;
}

#kategorien ul li a {
	margin: 0 0 0 35px;
	top: 0;
	display: inline;
	border: none;
	background-color: transparent;
	color: black;
}